{% extends "base.html" %}

{% block title %}PaperFlow View{% endblock %}

{% block content %}
<header>
<body>
    <div class="container">
        <header>
            <h1>Edit Question</h1>
        </header>

        <section>
            <form method="post">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label for="text"><strong>Question Text:</strong></label>
                    <textarea id="text" name="text">{{ question.text }}</textarea></div>
                </div>
                <br>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label for="tags"><strong>Tags (Comma Separated):</strong></label>
                    <input type="text" id="tags" name="tags" value="{{ question.tags }}" placeholder="e.g. algebra, integration, probability">
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <button type="submit" >Save Changes</button>
                    <a href="{{ url_for('view_paper', paper_id=question.paper_id) }}">
                        <button>Back to Paper</button>
                    </a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>
{% endblock %}